{% extends "base/intranet_base.html" %}
{% load wagtailcore_tags %}
{% load core_intranet_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
{% for breadcrumb in breadcrumbs %}
<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
{% if not forloop.last %} &gt; {% endif %}
{% endfor %}
<h1>Mvol Directory Report</h1>
<!--
<ul class = "nav nav-pills" style = "background-color: #dadada; border-radius: 5px">
  {% if allists %}
  {% for key, value in allists.items %}
  <li class = "nav-item">
    <a class = "nav-link active" href= "#{{ key }}">{{ key }} </a>
  </li>
  {% endfor %}
  {% endif %}
</ul>
-->
{% if allists %}
<div class = "row">
  <div class = "col-sm-6">
    <table class = "table table-hover table-sm">
      <thead>
        <tr>
          <th>
            valid
          </th>
          <th>
          </th>
        </tr>
      </thead>
      {% for sect in allists.valid.0 %}
      <tr>
        <td>
         {{ sect.0 }} 
       </td>
       <td>
         {{ sect.1 }} 
       </td>
     </tr>
     {% endfor %}
     {% if allists.valid.1 == True %}
     <tr>
      <td>
        <a href = "mvolreport/valid"> See rest:</a>
      </td>
      <td>
      </td>
    </tr>
    {% endif %}
  </table>
  <table class = "table table-hover table-sm">
    <thead>
      <tr>
        <th>
          ready
        </th>
        <th>
        </th>
      </tr>
    </thead>
    {% for sect in allists.ready.0 %}
    <tr>
      <td>
       {{ sect.0 }} 
     </td>
     <td>
       {{ sect.1 }} 
     </td>
   </tr>
   {% endfor %}
   {% if allists.ready.1 == True %}
   <tr>
    <td>
      <a href = "mvolreport/ready"> See rest:</a>
    </td>
    <td>
    </td>
  </tr>
  {% endif %}
</table>

<table class = "table table-hover table-sm">
  <thead>
    <tr>
      <th>
        none
      </th>
      <th>
      </th>
    </tr>
  </thead>
  {% for sect in allists.none.0 %}
  <tr>
    <td>
     {{ sect.0 }} 
   </td>
   <td>
     {{ sect.1 }} 
   </td>
 </tr>
 {% endfor %}
 {% if allists.none.1 == True %}
 <tr>
  <td>
    <a href = "mvolreport/none"> See rest:</a>
  </td>
  <td>
  </td>
</tr>
{% endif %}
</table>
</div>
<div class = "col-sm-6">
  <table class = "table table-hover table-sm">
    <thead>
      <tr>
        <th>
          invalid
        </th>
        <th>
        </th>
      </tr>
    </thead>
    {% for sect in allists.invalid.0 %}
    <tr>
      <td>
       {{ sect.0 }} 
     </td>
     <td>
       {{ sect.1 }} 
     </td>
   </tr>
   {% endfor %}
   {% if allists.invalid.1 == True %}
   <tr>
    <td>
      <a href = "mvolreport/invalid"> See rest:</a>
    </td>
    <td>
    </td>
  </tr>
  {% endif %}
</table>
<table class = "table table-hover table-sm">
  <thead>
    <tr>
      <th>
        queue
      </th>
      <th>
      </th>
    </tr>
  </thead>
  {% for sect in allists.queue.0 %}
  <tr>
    <td>
     {{ sect.0 }} 
   </td>
   <td>
     {{ sect.1 }} 
   </td>
 </tr>
 {% endfor %}
 {% if allists.queue.1 == True %}
 <tr>
  <td>
    <a href = "mvolreport/queue"> See rest:</a>
  </td>
  <td>
  </td>
</tr>
{% endif %}
</table>
</div>
</div>
{% endif %}
{% endblock %}