# including cryptography as a temporary workaround, see:
# https://github.com/paramiko/paramiko/issues/1369
cryptography==2.4.2
docopt
-e git+https://github.com/owncloud/pyocclient.git@aa6b4374a779bf0f9e060117b2e8d1e810342bc8#egg=pyocclient
lxml
paramiko
Pillow
