body {
    background-color: #D6D6CE
}
h1 {
    color: #800000; 
    font-family:Arial, Helvetica, sans-serif
}
li {
    font: size 20px; 
    font-family:Lucida Console, sans-serif
}
p {
    font: size 20px; 
    font-family:Lucida Console, sans-serif
}
ul {
    list-style-type: none
}
#toptd {
    background-color: #FFFFFF
    white-space: nowrap;
}

table {
	table-layout: auto !important
}
