<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% load static %}

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Directory Report</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type = "text/css" href="{% static 'erpage/mystyle.css' %}">
    </head>
    <body>
        <table width = "100%" border = "0">
            <tr>
                <td id = "toptd">
                    <h1> 
                        Directory Status Report</h1>
                </td>
            </tr>
            <tr>
                <td>
                    {% if allists %}
                        {% for key, value in allists.items %}
                            <h2> {{ key }} </h2>
                                <ul>
                                    {% for sect in value %}
                                        <li>
                                            {{ sect.0 }} -   - {{ sect.1 }}
                                        </li>
                                    {% endfor %}
                                </ul>
                        {% endfor %}
                    {% else %}
                        <p> "Rip" </p>
                    {% endif %}
                </td>
            </tr>
        </table>
    </body>
</html>