<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% load static %}

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>                
                {{ name.0 }}
            </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type = "text/css" href="{% static 'erpage/mystyle.css' %}">
    </head>
    <body>
        <table width = "100%" border = "0">
            <tr>
                <td id = "toptd">
                    <h1> 
                        {% for parent in parents %}
                            <a id = "topdirectory" href = "{% url 'hierarch' parent.0 %}"> {{ parent.1 }}</a>
                        {% endfor %}
                        {{ name.1 }}
                    </h1>
                </td>
            </tr>
        </table>
        <table id = "mvoltable">
            <tr>
                <td id = "mvoldata">
                    Name:
                </td>
                <td id = "mvoldata">
                    Last modified date:
                </td>
                <td id = "mvoldata">
                    Verified:
                </td>
                <td id = "mvoldata">
                    Last Development upload date:
                </td>
                <td id = "mvoldata">
                    Development synced:
                </td>
                <td id = "mvoldata">
                    Last Production upload date:
                </td>
                <td id = "mvoldata">
                    Production synced:
                </td>
            </tr>
            {% for child in children %}
            <tr>
                <td id = "mvoldata">
                    <a href = "{% url 'hierarch' child.0.name %}"> {{ child.0.name }}</a>
                </td>
                <td id = "mvoldata">
                    {{ child.0.date }}
                </td>
                <td id = "mvoldata">
                    {{ child.1 }}
                </td>
                <td id = "mvoldata">
                    {{ child.0.dev }}
                </td>
                <td id = "mvoldata">
                    {{ child.2 }}
                </td>
                <td id = "mvoldata">
                    {{ child.0.pro }}
                </td>
                <td id = "mvoldata">
                    {{ child.3 }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>