{% extends "base/intranet_base.html" %}
{% load wagtailcore_tags %}
{% load core_intranet_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<h1>Directory Status Report</h1>
<h3><a href = "{% url 'home' %}">Homepage</a></h3>
<ul class = "nav nav-pills">
    {% if allists %}
    {% for key, value in allists.items %}
    <li class = "nav-item">
        <a class = "nav-link" href= "#{{ key }}"> {{ key }} </a>
    </li>
    {% endfor %}
    {% endif %}
</ul>
<table>
    <tr>
        <td>
            {% if allists %}
            {% for key, value in allists.items %}
            <a id = "{{ key }}"> <h2> {{ key }} </h2></a>
            <ul>
                {% for sect in value %}
                <li>
                    {{ sect.0 }} -   - {{ sect.1 }}
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            {% else %}
            <p> "Rip" </p>
            {% endif %}
        </td>
    </tr>
</table>
{% endblock %}